.about-container {
  background-color: #161625;
  padding: 24px;
  font-family: 'Roboto';
}
.about-heading {
  color: #fff;
  font-size: 24px;
  margin-bottom: 10px;
}
.about-sub-heading {
  color: #fff;
  font-size: 19px;
}
.about-sub-heading,
.question-text {
  font-weight: 400;
  margin-bottom: 10px;
}
.question-text {
  color: #94a3b8;
  font-size: 16px;
}
.ans-text {
  color: #007bff;
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 10px;
}
.update-info {
  color: #94a3b8;
  font-size: 14px;
}
@media screen and (min-width: 768px) {
  .about-container {
    padding: 64px 150px;
  }
  .social-apps-logo-container {
    width: 25%;
  }
}
