.footer {
  height: 350px;

  justify-content: center;
  padding-bottom: 10px;
}
.footer,
.home-page-container {
  display: flex;

  flex-direction: column;

  align-items: center;
  background-color: #161625;
}
.footer {
  padding-bottom: 0;
}
.social-apps-logo-container {
  width: 100%;
  max-width: 250px;
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
}
.logo-title {
  color: #fff;
  margin: 0;
  font-size: 20px;
  font-family: 'Bree serif';
  font-weight: 500;
}
.highlight-word {
  color: #007bff;
}
.about-footer-line {
  color: #94a3b8;
}
@media screen and (min-width: 768px) {
  .social-apps-logo-container {
    margin-top: 32px;
  }
  .about-footer-line {
    margin-top: 24px;
  }
}
